## Pandas

In [2]:
import numpy 
import pandas

In [3]:
lst = [1,2,3,4,5]

In [4]:
# used to convert a list to array
numpy.array(lst)

array([1, 2, 3, 4, 5])

In [5]:
## to convert lst to series
pandas.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
##multiple data
pandas.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [9]:
##using data frame 
pandas.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [12]:
##using data frame and giving name to the columns
## initialise as df(dataframe)
df = pandas.DataFrame([lst,lst,lst], columns = ['A','B','C','D','E'])

In [13]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [14]:
## to delete a dataframe 
## del df

In [ ]:
pandas.